<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">REQUISITION</h2>
      <p class="text-center">Fill all the data to send the requisition</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <%= form_for(@requisition) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :income %><br />
              <%= f.number_field :income, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :address_years %><br />
              <%= f.number_field :address_years, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :company_years %><br />
              <%= f.number_field :company_years, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :marital_status %><br />
              <%= f.select :marital_status, options_for_select(marital_status), {:include_blank => true}, {class: 'form-control'} %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :requested_amount %><br />
              <%= f.number_field :requested_amount, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :bank %><br />
              <%= f.text_field :bank, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :company_name %><br />
              <%= f.text_field :company_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :company_phone_number %><br />
              <%= f.text_field :company_phone_number, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :dependents_number %><br />
              <%= f.text_field :dependents_number, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :company_position %><br />
              <%= f.text_field :company_position, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group text-center">
              <%= f.label :has_sgmm? %><br />
              <%= f.radio_button(:has_sgmm, true) %>
              <%= f.label(:has_sgmm, "Yes") %>
              <%= f.radio_button(:has_sgmm, false) %>
              <%= f.label(:has_sgmm, "No") %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group text-center">
              <%= f.label :has_imss? %><br />
              <%= f.radio_button(:has_imss, true) %>
              <%= f.label(:has_imss, "Yes") %>
              <%= f.radio_button(:has_imss, false) %>
              <%= f.label(:has_imss, "No") %>    
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group text-center">
              <%= f.label :has_car? %><br />
              <%= f.radio_button(:has_car, true) %>
              <%= f.label(:has_car, "Yes") %>
              <%= f.radio_button(:has_car, false) %>
              <%= f.label(:has_car, "No") %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :first_reference %><br />
              <%= f.text_field :first_reference, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :second_reference %><br />
              <%= f.text_field :second_reference, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :third_reference %><br />
              <%= f.text_field :third_reference, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :comment %><br />
              <%= f.text_area :comment, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group text-center">
              <%= f.label :payment_terms? %><br />
              <%= f.radio_button(:payment_terms, true) %>
              <%= f.label(:payment_terms, "Yes") %>
              <%= f.radio_button(:payment_terms, false) %>
              <%= f.label(:payment_terms, "No") %>    
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <%= f.submit 'Save', class: "btn btn-success" %>
              <%= link_to 'Nevermind', root_path, class: 'btn btn-warning', type: "number" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>    
    
  </div>
</div>
